body {
background-color: grey;
}
.introduction {
    line-height: 40px;
    text-align: center;
}
nav {
    text-align: right;
    width: 100%;
}
nav ul li {
    display: inline-block;
    list-style:none;
    padding-right: 25px;
}
#welcome {
    background-image:url("./../images/images.jpeg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 50px;
    padding-top: 70px;
}