body{
    margin: 0;
    padding: 0;
}
.menu ul{
    list-style: none;
}
.welcome{
    display: flex;
    height: 70vh;
    

}
.my-profile-pic{
    flex: 1;
    margin:auto;
    height: 80%;

}

    
    
.my-profile-pic img{
    width: 70%;
    height: 90%;
    object-fit: contain;
    border-radius:12px ;
    margin:auto;

}
    

.introduction{
    flex: 1;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin: auto;
    
}
.menu ul li{
    display:inline-block ;
    margin: auto 20px;
} 
.menu ul li a{
    text-decoration: none;
    color: white;
}

.menu ul li a:hover{
    color: violet;
}
.navbar{
    display:flex;
    background: darkgoldenrod;

}
.logo{   
    flex: 1;


}
.menu{   
    flex: 1;
    text-align: right;



}

.about{
    width: 80%;
    margin: auto;
    height: 40vh;
    margin-bottom:50px;

}
 
.about h2, .project h2{
    text-align: center;
    text-transform: capitalize;
    
    
    
}
.about p{
    line-height: 35px;
    
    

    
    text-align: center;
}
.single-project{
    box-shadow: 0 10px 10px -5px;
    padding: 15px;
    
    
}
.project{
    margin: auto;
    width: 80%;
}
footer{
    background: darkgoldenrod;
height: 70px;  
text-align: center; 
padding: 20px;
}